@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.container {
    width: 50%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
}

.top-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.top-nav ul li a {
    text-decoration: none; 
    color: #000;
    font-size: 1.5rem;
}

.login-title a{
    text-decoration: none;
    color: #000;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 10px;
}

.login input[type="submit"] {
    background-color: #000;
    color: #fff;
}

.post-button {
    display: flex;
    justify-content: flex-end;
}

.post-button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #000;
    border-radius: 10px;
}

.write-post label {
    display: flex;
    font-size: 2rem;
    margin-top: 3rem;
}

.write-post input[name="title"] {
    flex-grow: 1;
    margin-left: 8px;
    padding: 8px;
    font-size: 1.5rem;
    border: 1px solid #000;
}