@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.container {
    width: 50%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
}

.top-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.top-nav ul li a {
    text-decoration: none; 
    color: #000;
    font-size: 1.5rem;
}

.login-title a{
    text-decoration: none;
    color: #000;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 10px;
}

.login input[type="submit"] {
    background-color: #000;
    color: #fff;
}

.post-button {
    display: flex;
    justify-content: flex-end;
}

.post-button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #000;
    padding: 0 0.5rem;
}

.write-post label {
    display: flex;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.write-post .title {
    margin-top: 4rem;
}

.write-post input[name="title"] {
    flex-grow: 1;
    margin-left: 8px;
    padding: 8px;
    font-size: 1.5rem;
    border: 1px solid #000;
}

.write-post textarea[name="content"] {
    flex-grow: 1;
    margin-left: 8px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #000;
    height: 15rem;
    resize: none;
}

.write-post .form-action {
    text-align: right;
    margin-top: 1rem;
}

.write-post input[type="submit"] {
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.post-list {
    margin-top: 0.5rem;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.post-list tr {
    border: 1px solid #000;
}

.post-list .post-id {
    width: 10%;
    text-align: center;
}

.post-title {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-list .post-title-header {
    text-align: center;
}

.post-list .post-user {
    width: 15%;
    text-align: center;
}

.post-list .post-date {
    width: 15%;
    text-align: center;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.post-info {
    margin-bottom: 1rem;
}

.post-content {
    font-size: 1.5rem;
}